<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<footer id="footer">
  <div class="outer">
    <div id="footer-info">  
      	<div class="footer-right">
            &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
            <br />
            <!--这一段是不蒜子的访问量统计代码--> 
            <span id="busuanzi_container_site_pv">本站总访问量<span id="busuanzi_value_site_pv"></span>次</span> 
            <span id="busuanzi_container_site_uv">访客数<span id="busuanzi_value_site_uv"></span>人次</span>
      	</div>
    </div>
  </div>
  

</footer>